@model IEnumerable<CRUDPractice.Models.Employee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Position)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OfficeLocation)
            </th>
            <th>
                <a asp-action="AddorEdit" class="btn btn-outline-success"><i class="bi bi-patch-plus"></i>&nbsp; Create New Employee</a>
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Position)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OfficeLocation)
            </td>
            <td>
                    
                    <a asp-action="AddorEdit" asp-route-id="@item.EmployeeId"><i class="bi bi-pen-fill"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.EmployeeId"><i class="bi bi-ticket-detailed-fill"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.EmployeeId" class="text-danger" onclick="return confirm('Are you sure??')"><i class="bi bi-trash-fill"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
